* {
	margin: 0;
	padding: 0;
	font-family: "Arial","Ubuntu",sans-serif;
}
:root {
	--main: #3498db;
}
#topbar,#tabs {
	height: 7vh;
	display: block;
	text-align: center;
	background-color: #efefef;
}
#topbar input {
	margin: 1vh 0;
	height: 5vh;
	width: calc(100% - 2vh - 2px);
	box-sizing: border-box;
	padding: 0 0.5vh;
	font-size: 3vh;
	background-color: white;
	outline-color: var(--main);
}

#tabs {
	width: calc(100% - 22.5vh);
	height: 5vh;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
	-webkit-app-region: drag;
}
section#windowBtns{
	height: 5vh;
	width: 22.5vh;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9999;
}
section#windowBtns button {
	outline: none;
	width: 7.5vh;
	height: 5vh;
	display: block;
	float: right;
	border-radius: 0;
	background-color: #efefef;
	border: none;
	border-bottom: 1px solid #ccc;
	background-size: 2.5vh;
	background-position: center;
	background-repeat: no-repeat;
	transition: background-color 0.2s;
}
section#windowBtns button:hover{
	background-color: #ccc;
}
section#windowBtns button:active{
	transition: background-color 0s;
	background-color: #bbb;
}
section#windowBtns button.minimize {
	background-image: url(../img/minimizeIcon.png);
}
section#windowBtns button.maximize {
	background-image: url(../img/maximizeIcon.png);
}
section#windowBtns button.maximize.maximized{
	background-image: url(../img/unmaximizeIcon.png);
}
section#windowBtns button.close {
	transition: background-color 0s;
	background-image: url(../img/closeIcon.png);
}
section#windowBtns button.close:hover{
	background-color: #e00;
	background-image: url(../img/closeHoverIcon.png);
}